<div  class="text-white">
    <div class="row abhay1"  >
        <div class="col-md-6  mx-auto" *ngFor="let data of dataArray" style="margin: 1%;border: 1px solid  rgb(100, 255, 218);">
           <div class="card wow fadeInUp" style="background-color: rgb(23, 42, 69);color: rgb(100, 255, 218); " id="abhay">
               <table  >
                    <tr >
                        <td style="font-weight: bold;font-style: italic;">{{data.name}}</td>
                        <td style="font-style: italic;">{{data.description}}</td>
                        <td colspan="2" id="firstimage"><img [src]="data.image" width="80%" height="80%" id="image" style=" max-width:100%;
                            height:auto;object-fit: contain;float: right; "  ></td>
                    </tr >
                    <tr>
                       
                        <td *ngIf="data.type=='veg'">
                            <!-- <ng-template thenblock style="background-color: green;width: 100px;height: 100px;"></ng-template>
                            <ng-template elseblock style="background-color: red;width: 100px;height: 100px;"></ng-template> -->
                            <span style="height: 15px;
                            width: 15px;
                            background-color: green;
                            border-radius: 50%;
                            display: inline-block;"></span>
                        </td>
                        <td *ngIf="data.type=='nonveg'">
                            <span style="height: 15px;
                            width: 15px;
                            background-color: red;
                            border-radius: 50%;
                            display: inline-block;"></span>
                        </td>
                        <td><p style="font-style: italic;"><strong>Ingredients:</strong>{{data.ingredients}}</p></td>
                        <td><button class="btn btn-warning" style="float: right;" (click)="passdata(data.id,data.image,data.price,data.name)">Add to Cart<i class="fa fa-shopping-cart" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr >
                        <td><p style="font-style:italic;"><Strong>	&#8377;</Strong>{{data.price}}</p></td>
                        <td><p style="font-style: italic;"><Strong >Toppings:</Strong>{{data.topping}}</p></td>
                    </tr>
               </table>






               .










           </div>
        </div>
     
    </div>
</div>