<div>
    <p style="text-align: center;color: rgb(100, 255, 218);">Pizzeria now gives you  options to build your own pizza. Customize your pizza by choosing ingredients from the list given below</p>
    

    <div class="row">
        <div class="col-md-6 mx-auto" >
            <table  class="table slideInLeft data-wow-duration='2s' data-wow-delay='5s'" border="1" style="background-color: rgb(23, 42, 69);color: rgb(100, 255, 218); border: 2px solid rgb(100, 255, 218);"   >
      
                <tr *ngFor="let i of ingredientsarr" style="border: 2px solid rgb(100, 255, 218);;">
                    <td ><img [src]="i.image" style="width: 100px;height: 100px;" ></td>
                    <td><span>{{i.tname}}</span><span>	&#8377;{{i.price}}</span></td>
                    <td><form [formGroup]="ingredientsform"><span style="float: right;"><input type="checkbox" (change)="checked(i.image,i.tname,i.price)" [name]="i.tname" [value]="i.id" [formControlName]="i.tname"></span></form></td>
                    
                </tr>
       
    </table>
        <div>

            <p style="color: rgb(100, 255, 218);">Total Cost:{{cost}}</p>
            <button class="btn " style="color:rgb(100, 255, 218);background: rgb(23, 42, 69);" (click)="building()" >Build Ur Pizza</button>
            
        </div>
       
        </div>
        </div>

        <footer>
            <div class="navbar navbar-expand-sm bg-warning" style="color:black;">
              <h4 style="margin-left: 35%;">Copyrights<i class="fa fa-copyright" aria-hidden="true">2017/Pizzeria .All rights  reserved</i></h4>
          </div>
        </footer>
</div>