



  
  
  
  <section id="Story">
      <h3 class="">Our Story</h3>
  </section>
  <div style="display: flex; flex-direction: column;color: rgb(204, 214, 246);"  id="texts" >
    <p id="sectiontext" >In 2007, Domino's introduced its Veterans Delivering the Dream franchising program and also rolled out its online and mobile ordering sites.[13] In 2008, Domino's introduced the Pizza Tracker, an online application that allows customers to view the status of their order in a real time progress bar.[34] The first Domino's with a dining room opened in Stephenville, Texas, giving the customers the option to either eat in or take their pizza home. Since 2005, the voice of Domino's Pizza's US phone ordering service has been Kevin Railsback.[35]</p>
    <p id="sectiontext" class="">In a 2009 survey of consumer taste preferences among national chains by Brand Keys, Domino's was last — tied with Chuck E. Cheese's. In December that year, Domino's announced plans to entirely reinvent its pizza. It began a self-critical ad campaign in which consumers were filmed criticizing the then-current pizza's quality and chefs were shown developing a new pizza.[36][37] The new pizza was unveiled that same month. The following year, 2010 and Domino's 50th anniversary, the company hired J. Patrick Doyle as its new CEO and experienced a 14.3% quarterly gain. While admitted not to endure, the success was described by Doyle as one of the largest quarterly same-store sales jumps ever recorded by a major fast-food chain.[38][39]</p>
    <!-- <p id="sectiontext">The Domino's menu varies by region. The current Domino's menu in the United States features a variety of Italian-American main and side dishes. Pizza is the primary focus, with traditional, specialty, and custom pizzas available in a variety of crust styles and toppings. In 2011, Domino's launched artisan-style pizzas. Additional entrees include pasta, bread bowls, and oven-baked sandwiches. The menu offers chicken and bread sides, as well as beverages and desserts.[55]</p> -->
    <!-- <p id="sectiontext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At ducimus iure mollitia aliquid ullam ratione dicta modi perspiciatis accusantium ad. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi qui molestiae beatae sunt incidunt iure quasi sequi sapiente magni! Fuga.</p> -->
    <!-- <p id="sectiontext">The first menu expansion occurred in 1989, with the debut of Domino's deep dish or pan pizza. Its introduction followed market research showing that 40% of pizza customers preferred thick crusts. The new product launch cost approximately $25 million, of which $15 million was spent on new sheet metal pans with perforated bottoms.[58] Domino's started testing extra-large size pizzas in early 1993, starting with the 30-slice, yard-long "The Dominator".[59]</p> -->
  
  </div>
  
  <section>
      <div class="row" id="flexible">
        <div class="column " style="padding: 3%;margin-top: 1%;
        margin-left: 8%;
        ">
          <img src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" width="300px" height="300px">
        </div>
        <div class="column" style="color: rgb(204, 214, 246); margin-top: 5%;margin-left: 10%;"  >
          <h3 style="margin-left:0%;" >Ingredients</h3>
         <p >In 2015, when Luca was travelling to Mexico,<br>extremely low on cash and in dire<br> need of employment to be<br> able to follow his calling to make<br> the best Pizzas, Mr. Alejandro took him in. One evening, <br>while Luca was preparing a meal for Mr. Alenjandro’s family & guests,<br> he added crushed dried chipotle chillies to the <br>cheese before spreading it on the pizza base. <br>And Voila, Chipotle cheese was born.</p>
        </div>
       
  
        </div>
      
  </section>
  
  <section>
    <div class="row" id="flexible">
     
      <div class="column =" style="color: rgb(204, 214, 246); margin-top: 5%;margin-left: 10%;"  >
        <h3 style="margin-left:0%;" >Our Chefs</h3>
       <p >In 2015, when Luca was travelling to Mexico,<br>extremely low on cash and in dire<br> need of employment to be<br> able to follow his calling to make<br> the best Pizzas, Mr. Alejandro took him in. One evening, <br>while Luca was preparing a meal for Mr. Alenjandro’s family & guests,<br> he added crushed dried chipotle chillies to the <br>cheese before spreading it on the pizza base. <br>And Voila, Chipotle cheese was born.</p>
      </div>
      <div class="column " style="padding: 3%;margin-top: 1%;
      margin-left: 8%;
      ">
        <img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" width="300px" height="300px">
      </div>
  
      </div>
    
  </section>
  
  <section>
    <div class="row" id="flexible">
      <div class="column " style="padding: 3%;margin-top: 1%;
      margin-left: 8%;
      ">
        <img src="https://images.unsplash.com/photo-1513544705284-99373737fab6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=501&q=80" width="300px" height="300px">
      </div>
      <div class="column " style="color: rgb(204, 214, 246); margin-top: 10%;margin-left: 10%;"  >
        <h3 style="margin-left:0%;" >45 MIN Delivery</h3>
       <!-- <p >In 2015, when Luca was travelling to Mexico,<br>extremely low on cash and in dire<br> need of employment to be<br> able to follow his calling to make<br> the best Pizzas, Mr. Alejandro took him in. One evening, <br>while Luca was preparing a meal for Mr. Alenjandro’s family & guests,<br> he added crushed dried chipotle chillies to the <br>cheese before spreading it on the pizza base. <br>And Voila, Chipotle cheese was born.</p> -->
      </div>
     
  
      </div>
    
  </section>
  
  <footer>
      <div class="navbar navbar-expand-sm bg-warning" style="color:black;">
        <h4 style="margin-left: 35%;">Copyrights<i class="fa fa-copyright" aria-hidden="true">2017/Pizzeria .All rights  reserved</i></h4>
    </div>
  </footer>
  
  