div{
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;}

#orders{
    padding-left: 1%;
    color: rgb(100, 255, 218);
}

#build{
    padding-left: 1%;
    color: rgb(100, 255, 218);
}

#cart{
   margin-right: 1%;
}
#shopping{
    position: absolute; right: 2%;

}
#Story,#grid1{
    text-align: center;
    color: rgb(100, 255, 218);
}

#sectiontest{
    color: rgb(204, 214, 246);
}
#texts{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

#flexible{
    display: flex;
    flex-direction: row;
}